services:
  app:
    image: louislam/uptime-kuma:2.1.3
    restart: always
    volumes:
      - data:/app/data
    environment:
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - VIRTUAL_PORT=3001

volumes:
  data:

networks:
  frontend:
    name: proxy_frontend
    external: true
